header.header
    .conteiner
        nav.nav
            ul.nav__list
                li.nav__list-item
                    <a class="nav__link link__usser" href="#">Kristallin</a>
                li.nav__list-item
                    <a class="nav__link link__advantage" href="#">Преимущества</a>
                li.nav__list-item
                    <a class="nav__link link__what_for" href="#">Зачем</a>
                li.nav__list-item
                    <a class="nav__link link__price" href="#">Тарифы</a>
                li.nav__list-item
                    <a class="nav__link link__contacts" href="#">Контакты</a>