.section__reasons
    .conteiner
        .reasons__list-wrap
            .reasons__title 6 Причин почему стоит рабоать со мной
            ul.reasons__list.list__top
                li.reason__item.item__experience
                    .reason__icon
                        <img src="../assets/img/sprite.png" class="reason__img"></img>
                    .reason__title Мой опыт
                    .reason__desc Я занимаюсь СММ порядка 3-х лет и имею опыт работы в рекламе уже 8 лет
                li.reason__item.item__decency
                    .reason__icon
                        <img src="../assets/img/sprite.png" class="reason__img"></img>
                    .reason__title Мой опыт
                    .reason__desc Я занимаюсь СММ порядка 3-х лет и имею опыт работы в рекламе уже 8 лет
                li.reason__item.item__style 
                    .reason__icon
                        <img src="../assets/img/sprite.png" class="reason__img"></img>
                    .reason__title Мой опыт
                    .reason__desc Я занимаюсь СММ порядка 3-х лет и имею опыт работы в рекламе уже 8 лет
            ul.reasons__list.list__bottom
                li.reason__item.item__project
                    .reason__icon
                        <img src="../assets/img/sprite.png" class="reason__img"></img>
                    .reason__title Мой опыт
                    .reason__desc Я занимаюсь СММ порядка 3-х лет и имею опыт работы в рекламе уже 8 лет
                li.reason__item.item__result
                    .reason__icon
                        <img src="../assets/img/sprite.png" class="reason__img"></img>
                    .reason__title Мой опыт
                    .reason__desc Я занимаюсь СММ порядка 3-х лет и имею опыт работы в рекламе уже 8 лет
                li.reason__item.item__honesty
                    .reason__icon
                        <img src="../assets/img/sprite.png" class="reason__img"></img>
                    .reason__title Мой опыт
                    .reason__desc Я занимаюсь СММ порядка 3-х лет и имею опыт работы в рекламе уже 8 лет
            .reason__button
                <a href="#"  class="button__link">
                    |Консультация
                </a>