.section__advancement
    .conteiner
        .section__title
            |Продвижение вашей компании в социальных сетях
        .description
            .description__wrap
                .description__text
                    p   
                        |Социальные сети стали неотъемлемой частью нашей жизни.
                        |В метро, в автобусе, в трамвае и даже в машине мы видим
                        |людей держащих телефон в своих руках, большая часть из
                        |которых на данный момент отвечает в мессенджере или
                        |листает ленту Вконтакте, Инстаграме или Фейсбуке.
                    p
                        |Только подумайте! Сейчас около 435 миллионов
                        |аккаунтов Вконтакте, 22 миллиона – Инстаграм,
                        |14 миллионов – Фейсбук.
                .button
                    <a href="#"  class="button__link">
                        |Консультация
                    </a>
            .promo__video