.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: beige;
}

.nav__list{
    height: rem(72);
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.nav__list-item{
    margin-right: rem(10);
    display: inline-block;
}

.nav__link{
    text-decoration: none;
    color: black;
    padding: rem(0) rem(5);
}